{% extends "login_base.html" %}
{% block content %}

<div class="box" id="app">
  <h1 style="margin-bottom: 50px;">회원가입</h1>
  <input type="text" name="Email" id="user_email" placeholder="이메일" required="required" style="margin-bottom: 20px;" />
  <input type="text" name="name" id="user_name" placeholder="닉네임" required="required" style="margin-bottom: 20px;" />
  <input type="password" name="pw" id="user_pw1" placeholder="비밀번호" required="required" style="margin-bottom: 20px;" />
  <input type="password" name="pw2" id="user_pw2" placeholder="비밀번호 확인" required="required"
    style="margin-bottom: 20px;" />
  <button type="submit" class="custom-btn btn-11 btn-large" style="float:right" v-on:click="test_put()">가입완료</button>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  const app = new Vue({
    el: "#app",
    methods: {

      test_put: () => {
        axios("http://bp.aidetector.link/user_account/", {
          method: "put",
          data: {
            user_email: document.getElementById('user_email').value,
            user_name: document.getElementById('user_name').value,
            user_pw1: document.getElementById('user_pw1').value,
            user_pw2: document.getElementById('user_pw2').value,
          },
          // 로그인과 같은 경로를 호출하지만 put method로 호출을 하게 됩니다
        })
          .then((response) => {
            console.log(response.data)
            if (response.data['status'] == true) {
              alert('welcome');
              window.location.href = 'http://bp.aidetector.link/mainpage/';
              // 회원가입이 완료된 경우 메인페이지로 이동합니다
            } else {
              if (response.data['massage'] == 'pw') {
                alert('check password');
              } else {
                alert('change Email');
              }
              // 회원가입에 실패한 경우 이유를 알려줍니다
            }
          })
          .catch((error) => {
            console.log(error);
          });
      },

    },
  });
</script>

{% endblock %}